*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}




body{
  background-color: black;
  color: rgb(207, 243, 243);
}
#header{
    background-image: url(images/portfolioLogoSaif.png);
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%;
    height: 100vh;
    

}
.container{
   padding: 6px 10%;
}
#logo{
    width: 190px;
    height: 50px;
    object-fit: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:  rgb(202, 241, 236);
    text-decoration: none;
    font-size: 16px;
}
nav ul li  :hover{
    color: rgb(39, 56, 209);
}
.myPic{
    width: 500px;
    height: 400px;
    object-fit:cover ;
}
.details{
    margin-top: 17%;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(13, 14, 14);
}
.details h1 span{
    color: aqua;
}
.details h3{
    color: rgb(214, 249, 255);
}
#about{
    padding-top: 20px;
}
.myimg{
    border: 1px solid rgb(66, 62, 53);
    border-radius: 15px;
    width: 280px;
    height: 350px;
    object-fit:cover;
    
}
.myimg:hover{border: 1px solid rgb(167, 252, 252);}
.row{
    display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-2{
    flex-basis: 60%;
    color: rgb(176, 204, 204);
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
    
}
.tab-links{
    cursor: pointer;
    margin-right: 40px;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul span{
    color: aqua;
    font-size: 22px;
    font-weight: 700;
}
.tab-contents ul li{
    margin: 10px;
}
.tab-contents{
     display: none;
}
.tab-contents.active-tab{
display: block;
}
#services{
    margin-top: 20px;
}
.services-list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.services-list div{
    background-color: rgb(59, 66, 66);
    color: rgb(203, 218, 218);
   height: 210px;
    width: 240px;
    padding: 10px;
    margin: 5px 18px 15px 80px;
    border: 1px solid rgb(187, 187, 207);
    border-radius: 10%;
    text-align: center;
    position: relative;
    transition: background-color 0.5s, transform 0.5s, color 0.5s;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    
    }
.services-list span{
    color: rgb(201, 240, 240);
}
.services-list div a{
    border: 2px solid rgb(155, 237, 248);
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    right: 60px;
    text-decoration: none;
    color: rgb(212, 241, 241);
    font-size: 15px;
    padding: 4px 20px;
    background-color: black;
}
.services-list div:hover{
    background-color:aqua;
    transform: translateY(-10px);
    color: black;
    i{
        color: rgb(19, 27, 26);
    }
    a{
        border: 2px solid rgb(20, 19, 19);
    color: rgb(134, 134, 150);
    }
    span{
        color: rgb(29, 87, 87);
    }
}
.services-list div a:hover{
    border: 2px solid rgb(41, 25, 25);
    color: rgb(25, 25, 73);
}
.services-list i{
    font-size: 20px;
    color: rgb(73, 230, 198);
}
#work{
    margin-top: 20px;
}
.projects{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

}
.projects div{
    height: 300px;
    width: 240px;
    margin: 5px 18px 20px 80px;
    border: 1px solid rgb(56, 56, 92);
    border-radius: 5px;
    transition: all 0.5s ease;
    overflow: hidden;
    text-align: center;
    
}
.projects div a{
    text-decoration: none;
    color: aqua;
}

.projects img{
    height: 200px;
    width: 240px;
    object-fit: cover;
}
.projects div:hover{
    transform: translateY(-5px);
    color: #000;
    background-color:rgb(31, 40, 41) ;
    
}

.contactme div i{
    color: goldenrod;
    font-size: 40px;
    margin: 30px 20px 30px 50px;
}
#contact-feedback .query{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.cv{
    display: inline-block;
    margin: 20px;
    padding: 8px;
    border: 2px solid rgb(61, 59, 59);
    color: black;
    text-decoration: none;
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 8px;

}
.feedback{
    margin-left: 20px;
}
.feedback div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.feedback input{
   max-width: 140px;
border: none;
    background-color: black;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}


.feedback textarea{
    border-radius: 8px;
background-color: black;
color: white;   
border:1px solid white; 
}
.feedback button{
    background-color: goldenrod;
    color: #000;
    border-radius: 5px;
    height: 25px;
    width: 308px;
    font-size: 15px;
    font-weight: 600;
}
.feedback button:hover{
    background-color: rgb(19, 16, 10);
    color: #e6dede;
}
nav .fas{
    display: none;
}
@media (max-width:600px) {
    #header{
        background-image: url(images/portfolioLogoSaif2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
        width: 100vw;
        height: 100vh;
        
        
        
    }
    .details{
        margin-top: 150px;
        color: #e6dede;
    }
    nav .fas{
        display: block;
    }
    nav ul{
        background-color: aqua;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        color: #000;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
        color: #000;
    }
    nav ul li a{
        color:  rgb(18, 20, 20);
        font-weight: 700;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 65px;
        cursor: pointer;
    }
  
    .details h1 span{
        color: aqua;
    }
    .services-list div{
        width: 200px;
        height: 250px;
    
}
.services-list div a{
    
    bottom: 5px;
    right: 43px;
}
.projects div{
    height: 320px;
    width: 210px;
   
}
.projects div img{
    height: 200px;
    width: 210px;
}
.feedback{
    margin-left: 0%;
}
}
@media (min-width:600px )and ( max-width:1110px) {
    #header{
        background-image: url(images/portfolioLogoSaif3.png);
      background-repeat: no-repeat;
      background-size: cover;
        width: 100%;
        height: 50vh;
        
    }
    .details{
        margin-top: 50%;
    }
    
    .feedback{
        margin-left: 5px;
    }
}






